<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
          <button type="button" class="btn btn-light" (click)="subjectList()">Subject List</button>
          <button type="button" class="btn btn-light" (click)="onClickUpdateSubject()">Update Subject</button>
          <button type="button" class="btn btn-light" (click)="assignSubject()">Assign Subject</button>
          
      </div>
    </div>
</nav>

<div class="containersubject">
    <form (ngSubmit)="addNewSubject()">
        <div class="mb-3">
        <label for="subjectTitle" class="form-label">Subject title</label>
        <input [(ngModel)]="subject.subjectTitle" name ="subjectTitle" type="text" class="form-control" id="subjectTitle" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

   


