
<div class="containerstudent">
    <h1 style="color: rgb(68, 68, 220);">Update student information</h1>
    <form (ngSubmit)="updateStudent()">
        <div class="mb-3">
        <label for="STUDENT_ID" class="form-label">Student Id</label>
        <input [(ngModel)]="student.STUDENT_ID" name ="STUDENT_ID" type="text" class="form-control" id="STUDENT_ID" >
        </div>
        <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input [(ngModel)]="student.firstName" name ="firstName" type="text" class="form-control" id="firstName" >
        </div>
        <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input [(ngModel)]="student.lastName" name="lastName" type="text" class="form-control" id="lastName">
        </div>
        <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input [(ngModel)]="student.address" name="address" type="text" class="form-control" id="address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<app-sidebar></app-sidebar>